<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid"> <a class="navbar-brand" href="#">
      <i class="fa d-inline fa-lg fa-globe"></i>
      <b> Union</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-target="#navbar11" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar11">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" 
          routerLink="../view-events" routerLinkActive="active">View All Events</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Create A New Event</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">My Events</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Add/Remove Users</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Add/Remove Departments</a> </li>
      </ul>
      <a class="btn navbar-btn ml-md-2 text-white btn-danger" (click)=logout()>Logout</a>
    </div>
  </div>
</nav>