<body>
  <div class="filter-dark h-50 cover bg-fixed" id="mission" style="background-image: url('assets/DH_Welcome_Background.jpg');
  	background-position: center;	background-repeat: no-repeat;	background-size: 1;">
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-8 p-3 text-white my-4 mb-5">
          <h1 class="display-3" id="welome-department-head">Welcome Department&nbsp;<br>Head!</h1>
          <h2 class="mb-4">What would you like to do today?</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-10 mx-auto px-4">
          <h2 class="text-muted mb-4">Here are your options:</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="p-3">
                    <div class="row mb-3">
                      <div class="align-self-center d-flex align-items-center px-md-2 col-9 col-md-12">
                        <a class="btn btn-block btn-lg btn-dark" href="#" id="view-your-events">
                          <i class="fa fa-fw fa-list"></i>&nbsp;View Your Events</a>
                      </div>
                    </div>
                    <p class="text-muted">View a full list of all your events that you have been invited to.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <div class="row mb-3">
                      <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9 col-md-12">
                        <a class="btn btn-block btn-lg btn-dark" href="#" id="request-event">
                          <i class="fa fa-fw fa-question"></i>Request A New Event</a>
                      </div>
                    </div>
                    <p class="text-muted">Start the process of requesting to create a brand new event</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="p-3 col-lg-12 col-9">
                    <div class="row mb-3">
                      <div class="col-md-12"><a class="btn btn-block btn-lg btn-dark px-3" href="#" id="send-invite">
                        <i class="fa fa-fw fa-send"></i>&nbsp;Send An Invite</a></div>
                    </div>
                    <p class="text-muted" contenteditable="true">Send an invite to your co-workers today!</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <div class="row mb-3">
                      <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9 col-md-12"   >
                        <a class="btn btn-block btn-lg btn-dark" href="#" id="approve-event">
                          <i class="fa fa-fw fa-check fa-lg"></i>&nbsp;Approve Events</a>
                      </div>
                    </div>
                    <p class="text-muted">View a full list of all your events that you have been invited to.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white background-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Union Team - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js"></script>
</body>
