<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Union</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>EventDetailChange</display-name>
    <servlet-name>EventDetailChange</servlet-name>
    <servlet-class>com.revature.servlet.EventDetailChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDetailChange</servlet-name>
    <url-pattern>/EventDetailChange</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetAllEvents</display-name>
    <servlet-name>GetAllEvents</servlet-name>
    <servlet-class>com.revature.servlet.GetAllEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEvents</servlet-name>
    <url-pattern>/GetAllEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllAccounts</display-name>
    <servlet-name>GetAllAccounts</servlet-name>
    <servlet-class>com.revature.servlet.GetAllAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllAccounts</servlet-name>
    <url-pattern>/GetAllAccounts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetAllDepartments</display-name>
    <servlet-name>GetAllDepartments</servlet-name>
    <servlet-class>com.revature.servlet.GetAllDepartments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDepartments</servlet-name>
    <url-pattern>/GetAllDepartments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAccount</display-name>
    <servlet-name>RemoveAccount</servlet-name>
    <servlet-class>com.revature.servlet.RemoveAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAccount</servlet-name>
    <url-pattern>/RemoveAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>com.revature.servlet.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>com.revature.servlet.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEvent</display-name>
    <servlet-name>RemoveEvent</servlet-name>
    <servlet-class>com.revature.servlet.RemoveEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEvent</servlet-name>
    <url-pattern>/RemoveEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventByAccount</display-name>
    <servlet-name>GetEventByAccount</servlet-name>
    <servlet-class>com.revature.servlet.GetEventByAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventByAccount</servlet-name>
    <url-pattern>/GetEventByAccount</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:4200</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:8085</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventByLead</display-name>
    <servlet-name>GetEventByLead</servlet-name>
    <servlet-class>com.revature.servlet.GetEventByLead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventByLead</servlet-name>
    <url-pattern>/GetEventByLead</url-pattern>
  </servlet-mapping>
</web-app>