<body class="filter-dark" style="	background-image: url('assets/View_Events_Background.jpg');
    background-position: center;	background-size: cover;	background-repeat: no-repeat;
    min-height: 1000px;">

  <app-admin-navbar *ngIf="admin"></app-admin-navbar>
  <app-emp-navbar *ngIf="emp"></app-emp-navbar>

  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-3 text-center">Departments</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 bg-light" style=" margin: auto;	box-shadow: 0px 0px 100px 25px black;	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <table class="table ">
            <thead>
              <tr>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let department of departments">
                <td>{{department['dep_id']}}</td>
                <td>{{department['dname']}}</td>
                <td>
                  <div class="btn-group"><a href="#" class="btn btn-danger">Remove</a> </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 bg-light" style=" margin: auto;	box-shadow: 0px 0px 100px 25px black;	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <table class="table">
              <thead>
                <tr>
                  <th>Department Name</th>
                  <th>Add</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div>
                      <input type="text" class="form-control" id="dartmentName"  required="true" placeholder="Enter Department Name">
                      <div class="invalid-feedback"> Valid Department name is required. </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group"><a href="#" class="btn btn-primary">Add</a> </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
