<body class="filter-dark" style="	background-image: url('assets/View_Events_Background.jpg');
    background-position: center;	background-size: cover;	background-repeat: no-repeat;
    min-height: 1000px;">

    <app-admin-navbar *ngIf="admin"></app-admin-navbar>
    <app-emp-navbar *ngIf="emp"></app-emp-navbar>

    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-2 text-center">Departments</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bg-light" style="	box-shadow: 0px 0px 100px 25px black;	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <table class="table">
              <thead>
                <tr>
                  <th>Department ID</th>
                  <th>Department Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let department of departments">
                  <td>{{department['dep_id']}}</td>
                  <td>{{department['dname']}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</body>
