<!-- <div class="container" style="max-width: 600px">
  <h2 align="center" style="margin-top:20px">Login</h2>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>
  <button (click)="onSubmit()" class="btn btn-primary">Submit</button>

</div> -->

<!-- 
<body class="bg-light" style="background-image: 'assets/login-background';	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
   -->

  <div class="py-5 filter-dark" style="background-position: center center; background-repeat: no-repeat;
      background-image: url('assets/login-background.jpg');">
    <div class="container" style="	background-position: top left, top left;	background-size: 100%, 100%;	background-repeat: repeat, repeat;	background-image: https://static1.squarespace.com/static/55166ceae4b017e01335d1ed/t/5a8db64b0d9297b96cd73ed9/1519236685824/photo+1.jpg?format=2500w;">
      

      <div class="row">
          
        <div class="p-5 col-md-12">
          <h1 class="display-3 text-center">Union Management</h1>
          <div class="blockquote-footer text-center">"The only way to unify your company"</div>
          <div class="blockquote">
          </div>
          <h3 class="subDisplay" style=""><b>Login</b></h3>
            <div class="form-group"> 
              <label><b style="" class="">Email Address</b></label>
              <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter Email"> 
            </div>
            <div class="form-group"> 
              <label><b>Password</b></label> 
              <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password"> 
            </div> 
            <button type="submit" (click)="onSubmit()" class="btn btn-light"><b>Submit</b></button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
<!-- </body> -->
