<div class="py-5 filter-dark" style="background-position: center center; background-repeat: no-repeat; background-image: url('assets/login-background.jpg');">
  <div class="container">
    <div class="row">
      <div class="p-5 col-md-12" style="max-width: 800px; margin:auto">
        <h1 id="main-header" class="display-3 text-center">Union Management</h1>
        <div class="gray-text text-center">"The only way to unify your company"</div>
        <div class="blockquote">
        </div>
        <h3 class="subDisplay"><b>Login</b></h3>
        <div class="form-group">
          <label><b class="">Email Address</b></label>
          <input type="email" class="form-control"
          [(ngModel)]="email" placeholder="Enter Email" id="email">
        </div>
        <div class="form-group">
          <label><b>Password</b></label>
          <input type="password" class="form-control"
          [(ngModel)]="password" placeholder="Password" id="password"/>
        </div>
        <button type="submit" (click)="onSubmit()"
        class="btn btn-light" id="submit-login"><b>Submit</b></button>
      </div>
    </div>
  </div>
</div>
