<body class="filter-dark" style="	background-image: url('assets/Event_Details_Background.jpg');	background-position: center;	background-size: cover;	background-repeat: no-repeat;	min-height: 1000px;">
  <app-admin-navbar *ngIf="admin"></app-admin-navbar>
  <app-emp-navbar *ngIf="emp"></app-emp-navbar>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center m-4" id="event-name">{{event['name']}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><img class="d-block rounded-circle img-fluid mx-auto" src="assets/Event_Details.jpg"></div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row bg-info" style="box-shadow: 0px 0px 100px 30px black;">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <h3 style='margin: auto' id="details-table">{{event['time']}}, {{event['date']}}, {{event['location']}}</h3>
              </div>
              <h5>{{event['description']}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
