<body class="filter-dark" style="	background-image: url('assets/View_Events_Background.jpg');
    background-position: center;	background-size: cover;	background-repeat: no-repeat;
    background-attachment: fixed;">

  <app-admin-navbar *ngIf="admin"></app-admin-navbar>
  <app-emp-navbar *ngIf="emp"></app-emp-navbar>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-globe fa-5x mb-4 text-white"></i>
          <h2 class="text-white"><b>{{title}}</b></h2>
          <p class="lead text-white">{{subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1 shadow-lg mb-5" style="	box-shadow: 0px 0px 100px 45px black;	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0,0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h4 class="mb-3 text-white"><b>Event Information</b></h4>
          <form ngNativeValidate (ngSubmit)="submit()">
            <div class="row">
              <div class="col-md-12 mb-3"> <label for="lastName" class="text-white">&nbsp;Name of Event</label>
                <input type="text" class="form-control" id="lastName"
                      [(ngModel)]="name" name="event-name" required="true" placeholder="Name of meeting">
              </div>
            </div>
            <div class="mb-3"> <label for="address" class="text-white">Location</label>
              <input type="text" class="form-control" id="address" placeholder="Room 255B"
                    [(ngModel)]="location" name="location" required="true">
            </div>
            <div class="mb-3"> <label for="time" class="text-white">Time</label>
              <input type="time" class="form-control" id="time" placeholder="1234 Main St"
                    [(ngModel)]="time" name="time" required="true">
            </div>
            <div class="mb-3"> <label for="date" class="text-white">Date</label>
              <input type="date" class="form-control" id="date" placeholder="1234 Main St"
                    [(ngModel)]="date" name="date" required="true">
            </div>
            <div class="mb-3"> <label for="description" class="text-white">Description</label>
              <textarea type="text" class="form-control" id="description" placeholder="Short event description"
                    [(ngModel)]="description" name="description" required="true"></textarea></div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 text-center ">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle btn-primary drop-button" data-toggle="dropdown"> Add Employee</button>
                      <div class="dropdown-menu dropdown-space">
                        <li *ngFor="let user of users"><input type="checkbox" />{{user.name}}</li>

                        <!-- <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Employee 1</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Employee 2</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Employee 3</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Employee 4</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Employee 5</li>
                        <div class="dropdown-divider"></div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle btn-primary drop-button" data-toggle="dropdown"> Add Department</button>
                      <div class="dropdown-menu dropdown-space">
                        <li *ngFor="let department of departments">
                          <input type="checkbox" name>{{department.name}}
                        </li>
                        <!-- <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Department 1</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Department 2</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Department 3</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Department 4</li>
                        <div class="dropdown-divider"></div>
                        <li><input type="checkbox" /> Department 5</li>
                        <div class="dropdown-divider"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <input type="submit" class="btn btn-block submit-button" value="Submit" >
                
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white background-black" id="where">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Union Team - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</body>
