.dropdown-space{
  padding: 10px;
}

.drop-button{
  width: 325px !important;
}

@media screen and (max-width: 770px) {
  .drop-button {
    margin-top: 30px;
  }
}

.submit-button{
  margin-top: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(232, 233, 234, 1), rgba(140, 140, 140, 1));
  background-size: 100%;
}
