<body class="cover bg-info">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-globe fa-5x mb-4 text-white"></i>
          <h2 class="text-white"><b>Add A New Event</b></h2>
          <p class="lead text-white">Enter in the information below to add a new event</p>
        </div>
      </div>
    </div>
  </div>
  <div class=""   >
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1 shadow-lg mb-5" style="	box-shadow: 0px 0px 100px 45px black;	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0,0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h4 class="mb-3 text-white"><b>Event Information</b></h4>
          <form class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-12 mb-3"> <label for="lastName" class="text-white">&nbsp;Name of Event</label>
                <input type="text" class="form-control" id="lastName" value="" required="" placeholder="What Meeting Is This?">
                <div class="invalid-feedback"> Valid last name is required. </div>
              </div>
            </div>
            <div class="mb-3"> <label for="address" class="text-white">Location</label>
              <input type="text" class="form-control" id="address" placeholder="Room 255B" required="">
              <div class="invalid-feedback"> Please enter your shipping address. </div>
            </div>
            <div class="mb-3"   > <label for="address" class="text-white">Time</label>
              <input type="time" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback"> Please enter your shipping address. </div>
            </div>
            <div class="mb-3"> <label for="address" class="text-white">Date</label>
              <input type="date" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback"> Please enter your shipping address. </div>
            </div>
            <div class="mb-3"> <label for="address" class="text-white">Description</label>
              <textarea type="text" class="form-control" id="address" placeholder="" required=""></textarea></div><label for="address" class="text-white">Date</label>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"> Add Employee</button>
                      <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"> Add Department</button>
                      <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="invalid-feedback"   > Please enter your shipping address. </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white background-black" id="where">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Union Team - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</body>
