<app-emp-navbar></app-emp-navbar>
<div class="filter-dark py-0 h-50 cover bg-fixed" style="	background-image: url('assets/dallas.jpg');	background-position: center;
	background-repeat: no-repeat;	background-size: 1;">
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-8 p-3 text-white my-4 mb-5">
        <h1 class="display-1" id="welcome-employee">Welcome Employee!</h1>
        <h2 class="mb-4">What would you like to do today?</h2>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 mx-auto px-4">
        <h2 class="text-muted mb-4">Here are your options:</h2>
        <div class="row text-left">
          <div class="p-3 col-lg-4 col-md-6">
            <div class="row mb-3">
              <div class="center-button align-items-center px-md-2 col-9 col-md-12">
                <a class="btn btn-block btn-lg btn-dark" id="view-events" routerLink="../view-events" routerLinkActive="active">
                  <i class="fa fa-fw fa-list"></i>View All Events</a>
              </div>
            </div>
            <p class="text-muted text-center">View a list of all events that you have been invited to</p>
          </div>
          <div class="p-3 col-lg-4 col-md-6">
            <div class="row mb-3">
              <div class="center-button align-items-center px-md-2 col-9 col-md-12">
                <a class="btn btn-block btn-lg btn-dark" id="request-event" routerLink="../create-events" routerLinkActive="active">
                  <i class="fa fa-fw fa-question"></i>Request A New Event</a>
              </div>
            </div>
            <p class="text-muted text-center">Start the process of requesting to create a brand new event</p>
          </div>
          <div class="p-3 col-lg-4 col-md-6">
            <div class="row mb-3">
              <div class="center-button align-items-center px-md-2 col-9 col-md-12">
                <a class="btn btn-block btn-lg btn-dark" id="manage-events" routerLink="../my-events" routerLinkActive="active">
                  <i class="fa fa-fw fa-send"></i>Manage My Events</a>
              </div>
            </div>
            <p class="text-muted text-center">View a list of all events that you have been invited to</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-white background-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-muted">© Copyright 2018 Union Team - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>
