<app-emp-navbar></app-emp-navbar>
<div class="filter-dark py-0 h-50 cover bg-fixed" style="	background-image: url(assets/dallas.jpg);	background-position: center;	background-repeat: no-repeat;	background-size: 1;" id="mission">
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-8 p-3 text-white my-4 mb-5">
        <h1 class="display-1" id="Welcome">Welcome Employee!</h1>
        <h2 class="mb-4">What would you like to do today?</h2>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light" id="what" style="">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 mx-auto px-4" style="">
        <h2 class="text-muted mb-4">Here are your options:</h2>
        <div class="row text-left">
          <div class="p-3 col-lg-4 col-md-6">
            <div class="row mb-3">
              <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9 col-md-12" style="">
                <a class="btn btn-block btn-lg btn-dark" href="#"><i class="fa fa-fw fa-list"></i>View All Events</a>
              </div>
            </div>
            <p class="text-muted">View a list of all events that you have been invited to</p>
          </div>
          <div class="p-3 col-lg-4 col-md-6">
            <div class="row mb-3">
              <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9 col-md-12">
                <a class="btn btn-block btn-lg btn-dark" href="#"><i class="fa fa-fw fa-question"></i>Request A New Event</a>
              </div>
            </div>
            <p class="text-muted">Start the process of requesting to create a brand new event</p>
          </div>
          <div class="p-3 col-lg-4 col-9">
            <div class="row mb-3">
              <div class="col-md-12"><a class="btn btn-block btn-lg btn-dark px-3" href="#"><i class="fa fa-fw fa-send"></i>Manage My Events</a></div>
            </div>
            <p class="text-muted" contenteditable="true">Manage events you have created</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-white bg-dark" id="where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-muted">© Copyright 2018 Union Team - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>