<body class="filter-dark" style="	background-image: url('assets/View_Events_Background.jpg');	
    background-position: center;	background-size: cover;	background-repeat: no-repeat;	
    background-attachment: fixed;">

    <app-admin-navbar></app-admin-navbar>

    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-2 text-center">Users</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bg-light" style="	box-shadow: 0px 0px 100px 25px black;	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <table class="table">
              <thead>
                <tr>
                  <th>Event #</th>
                  <th> Name</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td></td>
                </tr>
           
                <tr>
                  <td>1</td>
                  <td>Christmas Party</td>
                  <td>1:30 PM</td>
                  <td>12/15/18</td>
                  <td>305A</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</body>
