<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Union" packages="">
   <!-- Appenders -->
   <Appenders>
      <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
         <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
         </PatternLayout>
         <Policies>
            <!-- This will rollover every 1 day! -->
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            <SizeBasedTriggeringPolicy size="1 GB" />
         </Policies>
      </RollingFile>
      <Console name="Console" target="SYSTEM.OUT">
      	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      </Console>
   </Appenders>
   <!-- Loggers -->
   <Loggers>
   	  <Root level="trace">
         <AppenderRef ref="RollingFile" />
      </Root>
      <Root level="info">
         <AppenderRef ref="Console" />
      </Root>
   </Loggers>
</Configuration>